<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>城市选择</title>
    <script type="text/javascript" src="../../js/auto-size.js?rnd=" + new Date().getTime()></script>
    <link href="../../css/main.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
    <link href="../css/city.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
</head>
<body>
<div class="car-main">
    <div id="firstLayer" class="first-layer">
        <div class="layer-left">
            <div class="header">
                <img alt="Smile" src="../../Util/img/face_icon.png"/>
                <div class="header-text">
                    <span class="header-name">您好，车主</span>
                    <span class="header-msg">请选择您要注册的城市</span>
                </div>
            </div>
            <ul id="province-list" class="province-list">
            </ul>
        </div>
    </div>
    <div id="secondLayer" class="second-layer">
        <ul id="city-list" class="city-item-list">
        </ul>
    </div>
    <div id="thirdLayer" class="third-layer">
        <ul id="ad-list" class="ad-item-list">
        </ul>
    </div>
</div>
</body>
<script type="text/template" charset="utf-8" id='template-province-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li onclick="getCities(this, '{{=it[i].province}}', '{{=it[i].province_code}}')">
        <img alt="logo" src="../../Util/img/icon_location.jpg"/>
        <span>{{=it[i].province}}</span>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-city-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li onclick="getAds(this, '{{=it[i].city}}',  '{{=it[i].code}}')">
        <div class="city-item">
            <span>
            {{=it[i].city}}
            </span>
        </div>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-ad-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li onclick="selectAds(this, '{{=it[i].district}}', '{{=it[i].district_code}}')">
        <div class="ad-item">
            <span>{{=it[i].district}}</span>
        </div>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/javascript" src="../../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../js/doT.js"></script>
<script type="text/javascript" src="../../js/exif.js"></script>
<script type="text/javascript" src="../../js/main.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../js/city.js?rnd=" + new Date().getTime()></script>

</html>