html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box; }

@media screen and (min-width: 769px) {
  body {
    width: 768px;
    margin: 0 auto !important;
    overflow: auto; } }
.pH20 {
  padding-left: 20px;
  padding-right: 20px;
}
.bold {
  font-size: 1.2em;
  font-weight: 500;
}
a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

.protocolWrapper {
  font-family: "PingFang SC";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #F0F0F0;
  text-align: left; }
  .protocolWrapper article {
    margin: 20px 0; }
  .protocolWrapper section {
    margin: 10px 0; }
  .protocolWrapper h1 {
    font-size: 26px;
    line-height: 1.2em;
    text-align: center;
    margin: 20px 0;
    font-weight: 500; }
  .protocolWrapper .articleTitle, .protocolWrapper h2 {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 500;
    margin: 20px 0;
    text-align: center; }
  .protocolWrapper .sectionTitle, .protocolWrapper h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 5px;
    line-height: 1.5em; }
  .protocolWrapper h4 {
    font-size: 15px;
    line-height: 1.5em;
    opacity: 0.9;
    font-weight: 500; }
  .protocolWrapper p {
    font-size: 16px;
    line-height: 1.5em;
    margin: 10px 0;
    opacity: 0.8;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .protocolWrapper ul {
    padding: 0 10%;
    margin-left: 8px;
    list-style: disc; }
  .protocolWrapper .tip {
    padding: 0 10%; }
  .protocolWrapper .other {
    margin: 15px 10%; }
.protocolWrapper .profit__section {
    margin-bottom: 50px;
  }
