.authen-main {
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: #ffffff;
    font-size: 0.28rem;
}
.line {
    width: 100%;
    height: 0.20rem;
    background-color: #eeeeee;
}
.authen-main .authen-title {
    width: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 5%;
    color: #333333;
    font-size: 0.33rem;
    border-bottom: 0.02rem solid #ffffff;
}
.authen-main .authen-title i{
    width: 0.5rem;
    height: 0.5rem;
    background-size: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/icon_white_down_arrow.png");
    transition: All 0.4s ease-in-out;
    -webkit-transition: All 0.4s ease-in-out;
    -moz-transition: All 0.4s ease-in-out;
    -o-transition: All 0.4s ease-in-out;
}
.img-transform{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.authen-main .authen-item {
    width: 100%;
    height: 0;
    overflow: hidden;
}
.authen-main .authen-item .result{
    background-color: #ffffff;
    font-size: 0.26rem;
    color: #333;
    padding: 0.26rem 0.30rem;
}
.authen-main .authen-type-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.20rem 0;
}
.authen-main .authen-type-box span {
    color: #333333;
    font-size: 0.33rem;
    padding: 0.20rem 0.20rem 0.20rem 0;
}
.authen-main .authen-type-box .authen-type {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.authen-main .authen-type-box .authen-type .authen-type-item {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.authen-main .authen-type-box .authen-type .authen-type-item input{
    color: #ffad18;
    width: 0.40rem;
    height: 0.40rem;
}
.authen-main p {
    background-color: #eeeeee;
    font-size: 0.26rem;
    color: #888;
    padding: 0.26rem 0.30rem;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #333333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333333;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333333;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333333;
}
.authen-main .input {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.40rem;
    border-bottom: 0.02rem solid #cccccc;
}
.authen-main .input input {
    border: none;
    width: 100%;
    height: 0.7rem;
    font-size: 0.33rem;
    color: #333333;
}
.authen-main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.authen-main ul li {
    position: relative;
    width: 50%;
    padding: 0 0.30rem;
    display: flex;
    flex-direction: column;
    margin: 0.40rem 0;
}
.authen-main ul li span {
    color: #333333;
    font-size: 0.33rem;
    padding: 0.20rem 0;
}
.authen-main ul li img {
    width: 100%;
    height: 2.0rem;
    /*height: auto;*/
}
.authen-main ul li .authen-status-ing {
    width: 100%;
    height: 0.50rem;
    margin-top: -0.50rem;
    position: relative;
}
.authen-main ul li .authen-status-over {
    width: 100%;
    height: 2.0rem;
    margin-top: -2.0rem;
    position: relative;
}
.authen-main ul li .authen-status span {
    display: block;
    background-color: #000000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    padding: 0;
}
.authen-main ul li .authen-status-over b {
    color: #ffad18;
    font-size: 0.26rem;
    position: absolute;
    bottom: 0;
    top: 34%;
    left: 0;
    right: 0;
    z-index: 48;
    text-align: center;
    line-height: 0.34rem;
}
.authen-main ul li .authen-status-ing b {
    color: #ffad18;
    font-size: 0.26rem;
    position: absolute;
    bottom: 0;
    top: 26%;
    left: 0;
    right: 0;
    z-index: 48;
    text-align: center;
}
.authen-main .submit-btn {
    width: 90%;
    margin: 0 auto;
    padding: 0.25rem 0;
    background-color: #ffad18;
    color: #ffffff;
    font-size: 0.33rem;
    text-align: center;
    margin-top: 0.60rem;
    margin-bottom: 1rem;
}
.demo-model {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    font-size: 0.28rem;
    top: 100%;
    left: 0;
}
.demo-model .model {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
.demo-model .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
    background-color: #ffffff;
}
.demo-model .content .title {
    text-align: center;
    color: #333333;
    font-size: 0.35rem;
    border-bottom: 0.02rem solid #eeeeee;
    padding: 0.20rem 0;
}
.demo-model .content .legend {
    width: 80%;
    margin: 0 auto;
    padding: 0.30rem 0;
}
.demo-model .content .legend img {
    width: 100%;
    height: auto;
}
.demo-model .content .legend p {
    font-size: 0.26rem;
    color: #555555;
    margin-top: 0.20rem;
}
.demo-model .content .upload-btn {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 0.30rem;
    margin-bottom: 0.30rem;
}
.demo-model .content .upload-btn span {
    display: block;
    padding: 0.25rem 0;
    background-color: #ffad18;
    color: #ffffff;
    font-size: 0.33rem;
    text-align: center;
}
.demo-model .content .upload-btn input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
}