<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>详情</title>
    <script type="text/javascript" src="../../js/auto-size.js?rnd=" + new Date().getTime()></script>
    <link href="../../css/main.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
    <link href="../css/news-bus-repeat-detail.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
    <link href="../../css/base.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
    <link href="../../css/listloading.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
</head>
<body>
    <div class="bus-repeat-list">
        <div id="listloading" class="listloading-list">
            <div>
                <ul id="bus-repeat-list">

                </ul>
            </div>
        </div>
    </div>
    <div class="puBox none">
        <div class="model"></div>
        <div class="pu">
            <div class="title">
                <div class="title_text">
                    <span>重复车牌号详情</span>
                    <span class="title_plate"></span>
                </div>
                <i class="close"></i>
            </div>
            <div class="infoContent">
                <div class="infoContent_item border_top">
                    <span>已上传的该车牌号的手机号为：</span>
                    <span class="info_he_tel"></span>
                    <span>平台审核该提交的信息的时间为：</span>
                    <span class="info_he_time text_blue"></span>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/template" charset="utf-8" id='template-bus-repeat-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        <span>{{=it[i].plate_for_word}}{{=it[i].plate_for_alpha}}{{=it[i].plate_for_no}}</span>
        <span>{{=$.format(it[i].add_time, "yyyy-MM-dd hh:mm:ss")}}</span>
        <span>{{=$.repeatType(it[i].status)}}</span>
        {{ if (it[i].status == 2){ }}
            <span class="detail" onclick="lookDetail('{{=it[i].bus_id}}')">详情</span>
        {{ } }}
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/javascript" src="../../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../js/exif.js"></script>
<script type="text/javascript" src="../../js/js-activity.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/doT.js"></script>
<script type="text/javascript" src="../../js/main.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/my-loading-alert-js.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/my-toast-alert-js.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/iscroll.min.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script type="text/javascript" src="../../js/listloading.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../js/news-bus-repeat-detail.js?rnd=" + new Date().getTime()></script>

</html>