<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>球队详情</title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<div class="main">
    <!-- 头部--->
    <div class="header">
        <span>搜索</span>
        <span>logo</span>
        <span>登录</span>
        <span>注册</span>
    </div>
    <!-- tab--->
    <div class="top-tab">
        <ul class="top-name">
            <li>首页</li>
            <li>即时比分</li>
            <li>即时指数</li>
            <li>完场赛程</li>
            <li>资料库</li>
            <li>资讯</li>
            <li>情报</li>
        </ul>
        <div class="top-menu">
            <a>首页 ></a>
            <span><a href="football.html">足球</a></span>
            <span><a href="index.html">资料库</a>></span>
            <span>英超></span>
            <span>阿森纳></span>
        </div>
    </div>
    <div class="team-top">
        <div class="team-top-name">
            <img src="../image/c.jpg" alt="">
            <div>
                <div>阿森纳 Arsenal</div>
                <div>主教练:阿尔塞纳.温格</div>
            </div>
            <div class="team-top-value">
                <span>球队市值:4.99亿欧元</span>
            </div>
        </div>

        <div class="team-top-honor">

            <div class="team-top-honor-content">
                <div class="team-top-honor-content-top">
                    <span>联赛排名</span>
                    <span>6</span>
                </div>
                <div class="team-top-honor-content-bottom">
                    <span>球队荣誉</span>
                    <img src="../image/d.jpg" alt="">
                    <img src="../image/e.jpg" alt="">
                    <img src="../image/c.jpg" alt="">
                    <img src="../image/b.png" alt="">
                </div>

            </div>
            <span>更多详细资料 >></span>
        </div>
    </div>
    <div class="team-content">
        <div class="team-content-left">
            <div class="title-tip">赛程赛果</div>
            <div class="timing">
                <table id="schedules-table" class="table-ftb">
                    <tbody>
                        <tr class="timing-head">
                            <th class="w-55">赛事</th>
                            <th class="w-65">轮次</th>
                            <th class="w-110">时间</th>
                            <th class="w-110 text-a-r">主队</th>
                            <th class="w-60">比分</th>
                            <th class="w-110 text-a-l">客队</th>
                            <th class="w-45">半场</th>
                            <th class="w-120">功能</th>
                        </tr>
                        <tr id="item1" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" >广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" >重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                        <tr id="item2" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                        <tr id="item3" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                        <tr id="item4" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                        <tr id="item5" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                        <tr id="item6" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                        <tr id="item7" class="item ">
                            <td><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">中超</a></td>
                            <td>第14轮</td>
                            <td>2018-07-29&nbsp;19:35</td>
                            <td class="text-a-r"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">广州恒大淘宝</a></td>
                            <td><b class="color-red">-</b></td>
                            <td class="text-a-l"><a class="link color-666 line-h-20 v-a-m display-i-b" href="#" target="_blank">重庆斯威</a></td>
                            <td>-</td>
                            <td><a class="link color-666 m-r-8" href="#" target="_blank">分析</a><a class="link color-666" href="#" target="_blank">赔率</a></td>
                        </tr>
                    </tbody>
                </table>
                <div id="schedules-pagination" class="pagination m-l-16">
                    <a class="link home">首页</a>
                    <a class="link prev m-l-30">上一页</a>
                    <span class="m-l-30">
                        <span class="number">3</span>/
                        <span class="total">74</span>
                    </span>
                    <a class="link next m-l-30">下一页</a>
                    <a class="link include m-l-30">尾页</a>
                </div>
            </div>
            <div class="squad">
                <div class="title-tip">
                        <b>球队阵容</b>
                        <span>后卫</span>
                        <span>中场</span>
                        <span>前锋</span>
                        <span>守门员</span>
                </div>
                <div class="squad-content">
                    <table cellpadding="0" cellspacing="0">
                        <thead>
                            <tr class="color-999">
                                <td class="w-55"></td>
                                <td class="w-65">号码</td>
                                <td class="w-120">球员</td>
                                <td class="w-100">出生日</td>
                                <td class="w-80">身高(cm)</td>
                                <td class="w-80">体重(kg)</td>
                                <td class="w-65">位置</td>
                                <td class="w-100">国籍</td>
                                <td class="w-45"> 进球</td>
                                <td class="w-45">助攻</td>
                                <td class="w-45">红牌</td>
                                <td>黄牌</td>
                            </tr>
                        </thead>
                        <tbody id="squad-data">
                            <!--<tr>-->
                                <!--<td class="teamer-img w-55"><img src="../image/j.jpg" alt=""></td>-->
                                <!--<td> 29</td>-->
                                <!--<td><b class="alt-right"><i></i> <span>郜林</span></b></td>-->
                                <!--<td>1986-02-14 </td>-->
                                <!--<td>  185 </td>-->
                                <!--<td>  75 </td>-->
                                <!--<td> 前锋</td>-->
                                <!--<td><span>中国</span></td>-->
                                <!--<td>3</td>-->
                                <!--<td>2</td>-->
                                <!--<td class="color-bbb">  0 </td>-->
                                <!--<td> 2 </td>-->
                            <!--</tr>-->
                           <!---->

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="transfer-info">
                <div class="title-tip">转会信息</div>
                <div class="transfer-info-content">
                    <div class="players-into  swiper-container" >
                        <div class="title-tip-name">球员转入</div>
                        <div  id="into-info" class="swiper-wrapper" >

                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="players-out  swiper-container">
                        <div class="title-tip-name">球员转出</div>
                        <div class="swiper-wrapper"  id="out-info">
                            <!--<div class="swiper-slide">-->
                                <!--<div class="out-info-item-left">-->
                                    <!--<img src="../image/i.jpg" alt="">-->
                                    <!--<span>厄齐尔</span>-->
                                <!--</div>-->
                                <!--<div class="out-info-item-right">-->
                                    <!--<span>莱斯特城</span>-->
                                    <!--<span>时间：2018-02-12</span>-->
                                    <!--<span>位置：前锋</span>-->
                                    <!--<span>来自：波尔图</span>-->
                                    <!--<span>类型：完全所有</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="team-splendid-moment">
                <div class="title-tip">球队精彩瞬间</div>
                <div class="team-splendid-moment-moment">
                    <div class="team-splendid-moment-moment-left">
                        <img src="../image/k.jpg" alt="">
                    </div>
                    <div class="team-splendid-moment-moment-right">
                        <img src="../image/j.jpg" alt="">
                        <img src="../image/j.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="team-content-right">
            <div class="title-tip">基本资料</div>
            <table class="basic-info-table">
                <tr>
                    <td>成立时间</td>
                    <td calss="establish_date"></td>
                </tr>
                <tr>
                    <td>国家地区</td>
                    <td class="country"></td>
                </tr>
                <tr>
                    <td>所在城市</td>
                    <td class="city"></td>
                </tr>
                <tr>
                    <td>球场</td>
                    <td class="stadium"></td>
                </tr>
                <tr>
                    <td>球场容量</td>
                    <td class="capacity">32,500</td>
                </tr>
                <tr>
                    <td>联系地址</td>
                    <td class="address"></td>
                </tr>
                <tr>
                    <td>官方网址</td>
                    <td class="website"></td>
                </tr>
                <tr>
                    <td>官方信箱</td>
                    <td class="email"></td>
                </tr>
                <tr>
                    <td>球员年龄</td>
                    <td class="agv_age">（平均）</td>
                </tr>
            </table>
            <div class="title-tip">进球状态</div>
            <div class="clearfix-row bd-box">
                <div class="nav-tab line-h-30">
                    <a class="link active m-l-16" onclick="team.goalTab(this)" data-id="goal-all">总进球</a>
                    <a class="link" onclick="team.goalTab(this)" data-id="goal-home">主场</a>
                    <a class="link" onclick="team.goalTab(this)" data-id="goal-away">客场</a>
                </div><div class="score-table-panel">
                <div id="goal-all" class="clearfix-row score-table-item ">
                    <div class="score-table">
                        <div class="s-th">
                            <span class="item">00'</span>
                            <span class="item">15'</span>
                            <span class="item">30'</span>
                            <span class="item m-l-3">45'</span>
                            <span class="item">60'</span>
                            <span class="item">75'</span>
                            <span class="item">90'</span>
                        </div>
                        <div class="s-count">
                            <span class="title">进球数</span>
                            <div class="float-right m-r-16">
                                <div class="float-right">
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.3333333333333333)">2</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.3333333333333333)">2</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.3333333333333333)">2</span>
                                    <span class="i-count m-l-4" style="background-color: rgba(255,160,59,0.6666666666666666)">4</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,1)">6</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.5)">3</span>
                                </div>
                                <span class="count color-fdc487">19</span>
                            </div>
                        </div>
                        <div class="s-count m-t-4">
                            <span class="title">失球数</span>
                            <div class="float-right m-r-16">
                                <div class="float-right">
                                    <span class="i-count " style="background-color: rgba(187,187,187,1)">4</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.5)">2</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.5)">2</span>
                                    <span class="i-count m-l-4" style="background-color: rgba(187,187,187,0.5)">2</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.75)">3</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.75)">3</span>
                                </div>
                                <span class="count color-fdc487">16</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goal-home" class="clearfix-row score-table-item hide">
                    <div class="score-table">
                        <div class="s-th">
                            <span class="item">00'</span>
                            <span class="item">15'</span>
                            <span class="item">30'</span>
                            <span class="item m-l-3">45'</span>
                            <span class="item">60'</span>
                            <span class="item">75'</span>
                            <span class="item">90'</span>
                        </div><div class="s-count">
                        <span class="title">进球数</span>
                        <div class="float-right m-r-16">
                            <div class="float-right">
                                <span class="i-count " style="background-color: rgba(255,160,59,0.6666666666666666)">2</span>
                                <span class="i-count " style="background-color: rgba(255,160,59,0.6666666666666666)">2</span>
                                <span class="i-count " style="background-color: rgba(255,160,59,0.6666666666666666)">2</span>
                                <span class="i-count m-l-4" style="background-color: rgba(255,160,59,1)">3</span>
                                <span class="i-count " style="background-color: rgba(255,160,59,0.6666666666666666)">2</span>
                                <span class="i-count " style="background-color: rgba(255,160,59,1)">3</span>
                            </div><span class="count color-fdc487">14</span>
                        </div>
                    </div>
                        <div class="s-count m-t-4">
                            <span class="title">失球数</span>
                            <div class="float-right m-r-16">
                                <div class="float-right">
                                    <span class="i-count " style="background-color: rgba(187,187,187,1)">2</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.5)">1</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.5)">1</span>
                                    <span class="i-count m-l-4" style="background-color: rgba(187,187,187,0.5)">1</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,1)">2</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.2)">0</span>
                                </div><span class="count color-fdc487">7</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="goal-away" class="clearfix-row score-table-item hide">
                    <div class="score-table">
                        <div class="s-th">
                            <span class="item">00'</span>
                            <span class="item">15'</span>
                            <span class="item">30'</span>
                            <span class="item m-l-3">45'</span>
                            <span class="item">60'</span>
                            <span class="item">75'</span>
                            <span class="item">90'</span>
                        </div>
                        <div class="s-count">
                            <span class="title">进球数</span>
                            <div class="float-right m-r-16">
                                <div class="float-right">
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.2)">0</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.2)">0</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.2)">0</span>
                                    <span class="i-count m-l-4" style="background-color: rgba(255,160,59,0.25)">1</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,1)">4</span>
                                    <span class="i-count " style="background-color: rgba(255,160,59,0.2)">0</span>
                                </div>
                                <span class="count color-fdc487">5</span>
                            </div>
                        </div>
                        <div class="s-count m-t-4">
                            <span class="title">失球数</span>
                            <div class="float-right m-r-16">
                                <div class="float-right">
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.66)">2</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.33)">1</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.33)">1</span>
                                    <span class="i-count m-l-4" style="background-color: rgba(187,187,187,0.33)">1</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,0.33)">1</span>
                                    <span class="i-count " style="background-color: rgba(187,187,187,1)">3</span>
                                </div>
                                <span class="count color-fdc487">9</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/template" charset="utf-8" id='template-squad-data-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <tr>
        <td class="teamer-img w-55"><img src="../image/j.jpg" alt=""></td>
        <td>{{=it[i].number}}</td>
        <td><b class="alt-right"><i></i> <span>{{=it[i].name}}</span></b></td>
        <td>{{=it[i].birthday}} </td>
        <td>{{=it[i].height==null?"-":it[i].height}} </td>
        <td>{{=it[i].weight}}</td>
        <td>{{=it[i].location=='0'?"前锋":it[i].location=='1'?"中场":it[i].location=='2'?"后卫":"守门员"}}</td>
        <td><span>{{=it[i].nationality}}</span></td>
        <td>3</td>
        <td>2</td>
        <td class="color-bbb">  0 </td>
        <td> 2 </td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-into-info-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
        <div class="swiper-slide" >
            <div class="into-info-item-left">
                <img src="../image/i.jpg" alt="">
                <span>{{=it[i].team_name}}</span>
            </div>
            <div class="into-info-item-right">
                <span>{{=it[i].transfer_team_name}}</span>
                <span>时间：{{=it[i].transfer_date}}</span>
                <span>位置：{{=it[i].player_location}}</span>
                <span>来自：{{=it[i].player_name}}</span>
                <span>类型：{{=it[i].transfer_reason}}</span>
            </div>
        </div>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-out-info-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <div class="swiper-slide">
        <div class="out-info-item-left">
            <img src="../image/i.jpg" alt="">
            <span>{{=it[i].team_name}}</span>
        </div>
        <div class="out-info-item-right">
            <span>{{=it[i].transfer_team_name}}</span>
            <span>时间：{{=it[i].transfer_date}}</span>
            <span>位置：{{=it[i].player_location}}</span>
            <span>来自：{{=it[i].player_name}}</span>
            <span>类型：{{=it[i].transfer_reason}}</span>
        </div>
    </div>
    {{ } }}
    {{ } }}
</script>
<script src="../js/swiper.min.js"></script>
<script type="text/javascript" src='../js/jquery-1.11.3.js'></script>
<script type="text/javascript" src="../js/doT.js"></script>
<script type="text/javascript" src='../js/team.js'></script>

</body>
</html>