.me {
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 100%;
    flex-direction: column;
    background-color: #f1f3f5;
}
.m-h {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 20px 0;
    margin-top: 1px;
}
.m-h .head {
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 40px;
    border: 1px solid #f1f3f5;
}
.m-h .h-c {
    margin-left: 10px;
}
.m-h .name {
    font-size: 16px;
    color: #333333;
    padding: 5px 0;
}
.m-h .phone {
    font-size: 14px;
    color: #555555;
    padding: 5px 0;
}
ul {
    overflow-y: scroll;
    padding: 20px 0;
}
ul li {
    display: flex;
    flex-direction: row;
    padding: 17px 20px;
    background: #ffffff;
    margin-top: 1px;
}
.m-h:active,
ul li:active {
    background: #f1f3f5;
}
ul .item {
    margin-top: 20px;
}
ul li .m-t {
    flex: 1;
    font-size: 16px;
    color: #333333;
}
ul li .m-t-s {
    font-size: 14px;
    color: #999999;
    padding: 0 10px;
}
ul li i {
    width: 15px;
    height: 15px;
    background-image: url("../../img/other/arrow_right_black.png");
    background-repeat: no-repeat;
    background-size: 15px;
}