.main {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-size: 0.28rem;
}
.main .content {
    width: 90%;
    margin: 0 auto;
    margin-top: 0.4rem;
}
.main .content input {
    border: none;
    font-size: 0.37rem;
    text-align: center;
    max-lines: 1;
    padding: 0.35rem 0.12rem;
    width: 100%;
}