.main {
    display: block;
    overflow: auto;
}
.refund-instructions-content {
    background-color: white;
    padding: 0.18rem;
    line-height: 0.47rem;
}
.refund-instructions-content .title {
    font-size: 0.37rem;
    color: #333333;
    padding: 0.28rem 0.18rem;
}
.refund-instructions-content .content {
    font-size: 0.33rem;
    color: #6d6d6d;
    padding: 0.28rem 0.18rem;
}