<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>足球—英超</title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../font/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/football-css.css">
</head>
<body>
<div class="main">
    <!-- 头部--->
    <div class="header">
        <span>搜索</span>
        <span>logo</span>
        <span>登录</span>
        <span>注册</span>
    </div>
    <!-- tab--->
    <div class="top-tab">
        <ul class="top-name">
            <li>首页</li>
            <li>即时比分</li>
            <li>即时指数</li>
            <li>完场赛程</li>
            <li>资料库</li>
            <li>资讯</li>
            <li>情报</li>
        </ul>
        <div class="top-menu">
            <a>首页 ></a>
            <span><a href="football.html">足球</a></span>
            <span><a href="databank.html">资料库</a> ></span>
            <span><a href="team.html">英超</a></span>
        </div>
    </div>
    <div class="football-bar">
        <div class="super-league">
            <div>
                <img src="../image/h.jpg" alt="">
            </div>
            <div class="super-league-select">
                <h2>英格兰超级联赛</h2>
                <div class="select">
                    <select name="赛季" id="season">
                        <option value="2017-2018赛季">2017-2018赛季</option>
                        <option value="2016-2017赛季">2016-2017赛季</option>
                        <option value="2015-2016赛季">2015-2016赛季</option>
                    </select>
                    <select name="球队筛选" id="sel-team">
                        <!--<option value="利物浦">利物浦</option>-->
                        <!--<option value="恩波利">恩波利</option>-->
                        <!--<option value="水晶宫">水晶宫</option>-->
                        <!--<option value="恩波利">恩波利</option>-->
                        <!--<option value="水晶宫">水晶宫</option>-->
                        <!--<option value="恩波利">恩波利</option>-->
                        <!--<option value="水晶宫">水晶宫</option>-->
                    </select>
                </div>
            </div>
        </div>
        <div class="super-league-menu">
            <ul>
                <li>热门赛事推荐:世界杯</li>
                <li>中超</li>
                <li>英超</li>
                <li>西甲</li>
                <li>德甲</li>
                <li>意甲</li>
                <li>情报</li>
            </ul>
        </div>
    </div>
    <div>
        <!--内容左-->
        <div id="super-league">
            <!--赛程赛事-->
            <div class="super-league-content-left hidden">
                <div class="super-league-content-top">
                    <div class="super-league-num">
                        <div class="game-title">
                            <span>英超</span>
                            <span>第1轮</span>
                        </div>
                        <ul id="game-num" class="game-num-head">
                        </ul>
                    </div>
                    <div class="super-league-result-data">
                        <table class="super-league-result-data-table">
                            <thead>
                            <tr>
                                <th>比赛时间</th>
                                <th>主队</th>
                                <th>比分</th>
                                <th>客队</th>
                                <th>半场</th>
                                <th>胜负</th>
                                <th>欧指</th>
                                <th>亚指</th>
                                <th>大小</th>
                                <th>数据中心</th>
                            </tr>
                            </thead>
                            <tbody id="super-league-table">
                            <!--<tr>-->
                            <!--<td>02:45 2017/08/12</td>-->
                            <!--<td>阿森纳</td>-->
                            <!--<td>4-3</td>-->
                            <!--<td>莱切斯特城</td>-->
                            <!--<td>2-2</td>-->
                            <!--<td>胜</td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td></td>-->
                            <!--<td>析 亚欧大</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                        <div class="super-league-time">以上资料进攻参考 跟新于 2018年05月23日 10:53</div>
                    </div>
                </div>
                <div class="statistics">
                    <div class="title-one">杯赛数据统计</div>
                    <ol class="bar-graph">
                        <li class="home" style="height: 46.13%;">
                            <div class="text">
                                <i class="line"></i>
                                <span class="num home_win_num"></span>
                                <span class="bar home_win_sper"></span>
                                <span class="tip">主场胜出</span>
                            </div>
                            <div class="graph bck-color-f25451">
                                &nbsp;</div>
                        </li>
                        <li class="tied" style="height: 23.51%;">
                            <div class="text">
                                <i class="line"></i>
                                <span class="num draw_num"></span>
                                <span class="bar draw_sper"></span>
                                <span class="tip">平局</span>
                            </div>
                            <div class="graph bck-color-ddd">&nbsp;</div>
                        </li>
                        <li class="away" style="height: 30.36%;">
                            <div class="text">
                                <i class="line"></i>
                                <span class="num away_win_num"></span>
                                <span class="bar away_sper"></span>
                                <span class="tip">客场胜出</span>
                            </div>
                            <div class="graph bck-color-56a4d5">&nbsp;</div>
                        </li>
                    </ol>
                    <div class="pie-chart-panel">
                        <div class="radius">
                            <span class="finish_num"></span>
                            <span>已赛</span>
                        </div>
                    </div>
                    <ol class="statistics-goals">
                        <li>
                            <p class="tip bgcolor-yellow4">总进球数</p>
                            <p class="num color-yellow4  total_goal"></p>
                            <p class="count total_avg_goal"></p>
                        </li>
                        <li>
                            <p class="tip bgcolor-red3">主场进球数</p>
                            <p class="num color-red3 home_goal"></p>
                            <p class="count home_agv_goal"></p>
                        </li>
                        <li>
                            <p class="tip bgcolor-blue1">客场进球数</p>
                            <p class="num color-blue1 away_goal"></p>
                            <p class="count away_agv_goal"></p>
                        </li>
                    </ol>
                    <ol class="statistics-table">
                        <li class="bgcolor-red3">
                            <ol class="list">
                                <li>
                                    <span class="find w-145">攻击力最强</span>
                                    <span class="find w-140 goal_max_team"></span>
                                    <span class="find w-50 goal_max_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">主场攻击力最强</span>
                                    <span class="find w-140 home_goal_max_team"></span>
                                    <span class="find w-50 home_goal_max_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">客场攻击力最强</span>
                                    <span class="find w-140 away_goal_max_team"></span>
                                    <span class="find w-50 away_goal_max_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">防守最佳</span>
                                    <span class="find w-140  defensive_max_team"></span>
                                    <span class="find w-50  defensive_max_lose_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">主场防守最佳</span>
                                    <span class="find w-140 home_defensive_max_team"></span>
                                    <span class="find w-50  home_defensive_max_lose_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">客场防守最佳</span>
                                    <span class="find w-140 away_defensive_max_team"></span>
                                    <span class="find w-50 away_defensive_max_lose_num"></span>
                                </li>
                            </ol>
                        </li>
                        <li class="bgcolor-blue1">
                            <ol class="list">
                                <li>
                                    <span class="find w-145">攻击力最弱</span>
                                    <span class="find w-140 goal_min_team"></span>
                                    <span class="find w-50 goal_min_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">主场攻击力最弱</span>
                                    <span class="find w-140 home_goal_min_team"></span>
                                    <span class="find w-50 home_goal_min_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">客场攻击力最弱</span>
                                    <span class="find w-140 away_goal_min_team"></span>
                                    <span class="find w-50 away_goal_min_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">防守最差</span>
                                    <span class="find w-140 defensive_min_team"></span>
                                    <span class="find w-50 defensive_min_lose_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">主场防守最差</span>
                                    <span class="find w-140 home_defensive_min_team"></span>
                                    <span class="find w-50 home_defensive_min_lose_num"></span>
                                </li>
                                <li>
                                    <span class="find w-145">客场防守最差</span>
                                    <span class="find w-140 away_defensive_min_team"></span>
                                    <span class="find w-50 away_defensive_min_lose_num"></span>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
                <div class="related-news">
                    <span class="news-title">相关新闻</span>
                    <div class="news-content">
                        <div>
                            <img src="../image/i.jpg" alt="">
                        </div>
                        <div class="news-content-main">
                            <h3>莫拉塔希望重回尤文 亚冠1/4决赛抽签揭晓，权健将战鹿岛 亚冠1/4决赛抽签揭晓，权健将战鹿岛</h3>
                            <div>
                        <span>
                             <i class="iconfont icon-icon_datum"></i>
                            2018/05/24 10:53
                        </span>
                                <span>
                             <i class="iconfont icon-icon_datum"></i>
                            465人 阅读
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div>
                            <img src="../image/i.jpg" alt="">
                        </div>
                        <div class="news-content-main">
                            <h3>莫拉塔希望重回尤文 亚冠1/4决赛抽签揭晓，权健将战鹿岛 亚冠1/4决赛抽签揭晓，权健将战鹿岛</h3>
                            <div>
                        <span>
                             <i class="iconfont icon-icon_datum"></i>
                            2018/05/24 10:53                            </span>
                                <span>
                             <i class="iconfont icon-icon_datum"></i>
                            465人 阅读                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="news-content">
                        <div>
                            <img src="../image/i.jpg" alt="">
                        </div>
                        <div class="news-content-main">
                            <h3>莫拉塔希望重回尤文 亚冠1/4决赛抽签揭晓，权健将战鹿岛 亚冠1/4决赛抽签揭晓，权健将战鹿岛</h3>
                            <div>
                        <span>
                             <i class="iconfont icon-icon_datum"></i>
                            2018/05/24 10:53
                        </span>
                                <span>
                             <i class="iconfont icon-icon_datum"></i>
                            465人 阅读
                        </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="highlight">
                    <span class="highlight-title">英超精彩瞬间</span>
                    <div class="highlight-content">
                        <div class="highlight-content-left">
                            <img src="../image/j.jpg" alt="">
                        </div>
                        <div class="highlight-content-right">
                            <img src="../image/g.jpg" alt="">
                            <img src="../image/i.jpg" alt="">
                            <img src="../image/k.jpg" alt="">
                            <img src="../image/j.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="format">
                    <span class="format-title">英超赛制</span>
                    <div class="format-content">
                        <p id="profile">
                            <!--造了现代足球的历史，他们在1888年建立了足球联赛并延续发展。英格兰联赛100多年的悠久历史也创下了诸多纪录。而英超联赛创立于1992年2月20日，并于1992/93的赛季成为英格兰的顶级足球联赛。百余年以来英格兰足球联赛分为四个级别的历史正式结束。-->
                            <!--20世纪80年代中后期，已经有很多的事件清楚显示着职业足球需要进行一场本质性的改革。-->
                            <!--1985年5月11日，56名球迷在布拉德福德球场的大火中丧生。5月29日，在比利时布鲁塞尔的海瑟尔球场，1984/85赛季欧洲冠军杯（欧洲冠军联赛前身）决赛利物浦对尤文图斯的比赛更是酿成了著名的海瑟尔惨案——不同球队的支持者之间发生暴力事件，结果导致39名球迷死亡——英格兰俱乐部更是因此被欧洲足联禁止参加欧洲赛事达5年之久。而1989年又发生了另一场足球惨剧，在谢菲尔德周三的希尔斯堡球场举行的英格兰足总杯利物浦对诺丁汉森林的半决赛中，由于人数拥挤造成看台坍塌，结果96名球迷死亡，150多人受伤。-->
                            <!--英国足球明显在低迷期：球场拥挤不堪、设施破旧、足球流氓到处都是，并且被赶离了欧洲赛场；本土俱乐部日渐式微，很多顶级球员受到欧洲大陆的俱乐部的金钱诱惑而转会。-->
                        </p>
                    </div>
                </div>
            </div>
            <!--联赛积分-->
            <div class="super-league-content-left show">
                <div class="integral" id="integral">
                    <span class="integral-tip active-tip">总榜单</span>
                    <span class="integral-tip">主场</span>
                    <span class="integral-tip">客场</span>
                </div>
                <div class="integral-table" id="integral-table">
                    <table class="show">
                        <thead>
                            <tr>
                                <th>排名</th>
                                <th>球队</th>
                                <th>已赛场数</th>
                                <th>胜场数</th>
                                <th>平场数</th>
                                <th>负场数</th>
                                <th>进球数</th>
                                <th>失球数</th>
                                <th>净胜球数</th>
                                <th>积分</th>
                            </tr>
                        </thead>
                        <tbody id="all-integral">
                            <!--<tr>-->
                                <!--<td>1</td>-->
                                <!--<td>罗马</td>-->
                                <!--<td>6</td>-->
                                <!--<td>5</td>-->
                                <!--<td>1</td>-->
                                <!--<td>0</td>-->
                                <!--<td>10</td>-->
                                <!--<td>1</td>-->
                                <!--<td>9</td>-->
                                <!--<td>16</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                    <table class="hidden">
                        <thead>
                        <tr>
                            <th>排名</th>
                            <th>球队</th>
                            <th>已赛场数</th>
                            <th>胜场数</th>
                            <th>平场数</th>
                            <th>负场数</th>
                            <th>进球数</th>
                            <th>失球数</th>
                            <th>净胜球数</th>
                            <th>积分</th>
                        </tr>
                        </thead>
                        <tbody id="home-integral">
                            <!--<tr>-->
                                <!--<td>2</td>-->
                                <!--<td>罗马</td>-->
                                <!--<td>6</td>-->
                                <!--<td>5</td>-->
                                <!--<td>1</td>-->
                                <!--<td>0</td>-->
                                <!--<td>10</td>-->
                                <!--<td>1</td>-->
                                <!--<td>9</td>-->
                                <!--<td>16</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                    <table class="hidden">
                        <thead>
                            <tr>
                                <th>排名</th>
                                <th>球队</th>
                                <th>已赛场数</th>
                                <th>胜场数</th>
                                <th>平场数</th>
                                <th>负场数</th>
                                <th>进球数</th>
                                <th>失球数</th>
                                <th>净胜球数</th>
                                <th>积分</th>
                            </tr>
                        </thead>
                        <tbody id="away-integral">
                            <!--<tr>-->
                                <!--<td>3</td>-->
                                <!--<td>罗马</td>-->
                                <!--<td>6</td>-->
                                <!--<td>5</td>-->
                                <!--<td>1</td>-->
                                <!--<td>0</td>-->
                                <!--<td>10</td>-->
                                <!--<td>1</td>-->
                                <!--<td>9</td>-->
                                <!--<td>16</td>-->
                            <!--</tr>-->
                        </tbody>
                    </table>
                </div>

            </div>
            <!--让球盘路-->
            <div class="super-league-content-left hidden">

            </div>
            <!--大小球盘路-->
            <div class="super-league-content-left hidden">

            </div>
            <!--比分统计-->
            <div class="super-league-content-left hidden">

            </div>
            <!--半全场胜负-->
            <div class="super-league-content-left hidden">

            </div>
            <!--进球单双数统计-->
            <div class="super-league-content-left hidden">

            </div>
            <!--比分统计-->
            <div class="super-league-content-left hidden">

            </div>
            <!--净胜/净负球-->
            <div class="super-league-content-left hidden">

            </div>
            <!--上下半场进球情况统计-->
            <div class="super-league-content-left hidden">

            </div>
        </div>

        <!--内容右-->
        <div>
            <div class="float-right">
                <div class="data-center">
                    <div class="title">
                        <i class="iconfont icon-icon_datum"></i>
                        杯赛数据中心
                    </div>
                    <div class="d-panel">
                        <div class="line"></div>
                        <span class="spot" style="top: 15px;">
                            <span class="radius"></span>
                        </span>
                        <ol class="nav-list" id="nav-list">
                            <li class="nav-active">
                                <span class="count">赛程赛果</span>
                            </li>
                            <li>
                                <span class="count">联赛积分</span>
                            </li>
                            <li>
                                <span class="count">让球盘路</span>
                            </li>
                            <li>
                                <span class="count">大小球盘路</span>
                            </li>
                            <li>
                                <span class="count">比分统计</span>
                            </li>
                            <li>
                                <span class="count">半全场胜负</span>
                            </li>
                            <li>
                                <span class="count">进球单双数统计</span>
                            </li>
                            <li>
                                <span class="count">净胜/净负球</span>
                            </li>
                            <li>
                                <span class="count">上下半场进球情况统计</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="integral-table">
                    <div class="title-one">
                        英超积分榜
                        <a class="more" href="#" target="_blank">更多</a>
                    </div>
                    <div class="table-panel" id="box">
                        <table class="table-list">
                            <tbody>
                                <tr>
                                    <th>排名</th>
                                    <th class="w-90">球队</th>
                                    <th>赛</th>
                                    <th>胜</th>
                                    <th>平</th>
                                    <th>负</th>
                                    <th>积分</th>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">1</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>南安普敦</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">2</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>托特纳姆热刺</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">3</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>南安普敦</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">4</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>托特纳姆热刺</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">5</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>南安普敦</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">6</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>托特纳姆热刺</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">7</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>南安普敦</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">8</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>托特纳姆热刺</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">9</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>南安普敦</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td><i class="serial color-red">10</i></td>
                                    <td>
                                        <a class="team-link alt" href="#" target="_blank">
                                            <font class="alt-right"><i></i><span>托特纳姆热刺</span></font>
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="show-all" onclick="deTails.integral.target(this)">
                        <span class="tip">展开全部</span>
                        <i class="iconfont icon-top"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src='../js/jquery-1.11.3.js'></script>
<script type="text/javascript" src="../js/doT.js"></script>
<script type="text/javascript" src="../js/football.js"></script>
<script type="text/template" charset="utf-8" id='template-game-num-table-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li class="current"  onclick="showDataTableHeadList('{{=i}}')">
        {{=it[i]}}
    </li>
    {{ } }}
    {{ } }}
</script>
<!--总榜单积分-->
<script type="text/template" charset="utf-8" id='template-all-integral-table-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <tr>
        <td>{{=i}}</td>
        <td class="w-140">{{=it[i].team_name}}</td>
        <td class="w-80">{{=it[i].game_num}}</td>
        <td class="w-80">{{=it[i].game_win}}</td>
        <td class="w-80">{{=it[i].game_draw}}</td>
        <td class="w-80">{{=it[i].game_lose}}</td>
        <td class="w-80">{{=it[i].goal}}</td>
        <td class="w-80">{{=it[i].miss}}</td>
        <td class="w-80">{{=it[i].goal-it[i].miss}}</td>
        <td class="w-80">{{=it[i].integral}}</td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<!--主场积分-->
<script type="text/template" charset="utf-8" id='template-home-integral-table-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <tr>
        <td>{{=i}}</td>
        <td class="w-140">{{=it[i].team_name}}</td>
        <td class="w-80">{{=it[i].game_num}}</td>
        <td class="w-80">{{=it[i].game_win}}</td>
        <td class="w-80">{{=it[i].game_draw}}</td>
        <td class="w-80">{{=it[i].game_lose}}</td>
        <td class="w-80">{{=it[i].goal}}</td>
        <td class="w-80">{{=it[i].miss}}</td>
        <td class="w-80">{{=it[i].goal-it[i].miss}}</td>
        <td class="w-80">{{=it[i].integral}}</td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<!--//客场积分-->
<script type="text/template" charset="utf-8" id='template-away-integral-table-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <tr>
        <td>{{=i}}</td>
        <td class="w-140">{{=it[i].team_name}}</td>
        <td class="w-80">{{=it[i].game_num}}</td>
        <td class="w-80">{{=it[i].game_win}}</td>
        <td class="w-80">{{=it[i].game_draw}}</td>
        <td class="w-80">{{=it[i].game_lose}}</td>
        <td class="w-80">{{=it[i].goal}}</td>
        <td class="w-80">{{=it[i].miss}}</td>
        <td class="w-80">{{=it[i].goal-it[i].miss}}</td>
        <td class="w-80">{{=it[i].integral}}</td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-super-league-table-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <tr>
        <td>{{=it[i].time}}</td>
        <td>{{=it[i].home_tn}}</td>
        <td>{{=it[i].scores}}</td>
        <td>{{=it[i].away_tn}}</td>
        <td>{{=it[i].scores}}</td>
        <td>胜</td>
        <td></td>
        <td></td>
        <td></td>
        <td>析 亚欧大</td>
    </tr>
    {{ } }}
    {{ } }}
</script>
<script>
        function show()
        {
            var box = document.getElementById("box");
            var text = box.innerHTML;
            var newBox = document.createElement("div");
            var btn = document.createElement("a");
            newBox.innerHTML = text.substring(0,20);
            btn.innerHTML = text.length > 120 ? "...显示全部" : "";
            btn.href = "###";
            btn.onclick = function(){
                if(btn.innerHTML == "...显示全部")
                {
                    btn.innerHTML = "收起";
                    newBox.innerHTML = text;
                }
                else
                {
                    btn.innerHTML = "...显示全部";
                    newBox.innerHTML = text.substring(0,20);
                }
            }
            box.innerHTML = "";
            box.appendChild(newBox);
            box.appendChild(btn);
        }
    window.onload=function()
    {
        show();
    }
</script>
<script>
    $('#nav-list li').each(function(i){
        this.onclick=function(){
            $(this).addClass("nav-active").siblings().removeClass("nav-active");
            $("#super-league .super-league-content-left").eq(i).show().siblings().hide();
        };
    });
    $('#integral span').each(function(i){
        this.onclick=function(){
            $(this).addClass("active-tip").siblings().removeClass("active-tip");
            $("#integral-table table").eq(i).show().siblings().hide();
        };
    });
</script>
</body>
</html>