.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

html {
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  background: #00081F !important;
}

body {
  width: 100%;
  height: 100%;
  min-width: 4.266667rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin: 0 auto !important;
}

@media screen and (min-width: 768px) {
  body {
    width: 10.24rem;
    overflow: auto;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::before {
    -ms-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
  }

  .border-1px::after {
    -ms-transform: scaleY(0.7);
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::before {
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }

  .border-1px::after {
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .border-1px::before {
    -ms-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
  }

  .border-1px::after {
    -ms-transform: scaleY(0.3);
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
  }
}

.space2em {
  display: inline-block;
  width: 2em;
  margin: 0;
  padding: 0;
}

.active .pageboxInner {
  opacity: 1;
  transition: opacity 1s;
}

.notactive .pageboxInner {
  opacity: 0;
  transition: opacity 1s;
}

.page1 .pagebox .phoneBox .space .download {
  position: relative;
  width: 38%;
  background: rgba(14, 74, 130, 0.5);
  height: 0;
  padding-bottom: 38%;
  margin: 0 auto;
  border: 1px solid #FFD200;
}

.page1 .pagebox .phoneBox .space .download img {
  width: 50%;
  margin-top: 10px;
}

.page1 .pagebox .phoneBox .space .download .text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  line-height: 3em;
  color: #FED33C;
  font-weight: 600;
}

.active .download .text {
  animation: big 1s infinite;
}

.active.page2 .tablebox,
.active.page3 .tablebox {
  animation: slide_from_bottom2 1s;
}

.active .rewardList:nth-child(1) {
  animation: fadeIn 1s;
}

.active .rewardList:nth-child(2) {
  animation: hide 1s,fadeIn .5s 1s;
}

.active .rewardList:nth-child(3) {
  animation: hide 1.6s,fadeIn .5s 1.6s;
}

.active .rewardList:nth-child(4) {
  animation: hide 2.2s,fadeIn .5s 2.2s;
}

.active.page5 .code {
  animation: fadeIn 1s;
}

.active.page5 .codeBox .text {
  animation: hide 1s,fadeIn 1s 1s;
}

.active.page5 .focus {
  animation: hide 2.2s,slide_from_top2 1s 2.2s;
}

.active.page5 .slogon {
  animation: hide 2.2s,slide_from_bottom2 1s 2.2s;
}
@keyframes big {
  to {
    transform: scale(1.2);
  }
}

@keyframes slide_from_bottom {
  from {
    margin-top: 110%;
  }

  to {
    margin-top: -1.333333rem;
  }
}

@keyframes slide_from_bottom2 {
  from {
    opacity: 0;
    top: 100%;
  }

  to {
    opacity: 1;
    top: 2rem;
  }
}

@keyframes slide_from_top {
  from {
    margin-top: -100%;
  }

  to {
    margin-top: 0.666667rem;
  }
}

@keyframes slide_from_top2 {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes slide_from_left {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes hide {
  from, to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
  }

  to {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes up {
  0% {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.853333rem;
  }

  100% {
    color: rgba(255, 255, 255, 0);
    font-size: 0.4rem;
  }
}

.up {
  position: absolute;
  width: 100%;
  bottom: 0.066667rem;
  left: 0;
}
.up .icon-up {
  background: url("../img/icon_white_up_arrow.png") no-repeat;
  background-position: center;
  background-size: 0.533333rem 0.333333rem;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  font-weight: 200;
  animation: up 1s ease-out infinite;
  -webkit-animation: up 1s ease-out infinite;
  -moz-animation: up 1s ease-out infinite;
  -o-animation: up 1s ease-out infinite;
}
.page {
  width: 100%;
  height: 100%;
}
.pagebox {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.266667rem 0;
  box-sizing: border-box;
  position: relative;
  background: url("../img/background.jpg") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.pagebox .pageboxInner {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
.page1 .pagebox {
  position: relative;
}
.page1 .pagebox .bannerBox {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.page1 .pagebox .bannerBox img {
  width: 100%;
}

.page1 .pagebox .bannerBox .slideBoxAbsolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.page1 .pagebox .bannerBox .slideBoxAbsolute::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.page1 .pagebox .bannerBox .slideBox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 96%;
  height: 0;
  padding-bottom: 38%;
  overflow: hidden;
}

.page1 .pagebox .bannerBox .slideBox ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page1 .pagebox .bannerBox .slideBox ul li {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.page1 .pagebox .bannerBox .slideBox ul li::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.page1 .pagebox .bannerBox .slideBox ul li .imgBox {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

.page1 .pagebox .bannerBox .slideBox ul li .imgBox img {
  width: 100%;
}

.page1 .pagebox .bannerBox .slideBox ul li:last-child {
  display: none;
}

.page1 .pagebox .phoneBox {
  width: 100%;
  margin-top: 0.8rem;
  overflow: hidden;
}

.page1 .pagebox .phoneBox .phone {
  text-align: center;
  margin-top: -1.333333rem;
}

.page1 .pagebox .phoneBox .phone img {
  width: 75%;
}

.page1 .pagebox .phoneBox .space {
  z-index: 99;
}

.page1 .pagebox .phoneBox .space .download .downloadLink {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page3 .pagebox,
.page2 .pagebox {
  width: 100%;
  padding: 0;
  display: block;
}

.page3 .pagebox .pageboxInner,
.page2 .pagebox .pageboxInner {
  display: block;
  height: 100%;
}

.page3 .pagebox .header,
.page2 .pagebox .header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  margin-top: 0.666667rem;
  text-align: center;
}

.page3 .pagebox .header::after,
.page2 .pagebox .header::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.page3 .pagebox .header .title,
.page2 .pagebox .header .title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  color: #fff;
  font-size: 0.506667rem;
  line-height: 1.066667rem;
  padding: 0 1em;
  border: 0.053333rem solid #00D3B3;
  border-radius: 0.6rem;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.page3 .pagebox .header .title span,
.page2 .pagebox .header .title span {
  color: #FFD700;
}

.page3 .pagebox .tablebox,
.page2 .pagebox .tablebox {
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  width: 89%;
  height: 80%;
  margin: 0 auto;
  padding: 0.2rem;
  border: 0.04rem solid #00D3B3;
}

.page3 .pagebox .tablebox .tableInnerBox,
.page2 .pagebox .tablebox .tableInnerBox {
  background: #00D3B3;
  width: 100%;
  height: 100%;
}

.page3 .pagebox .tablebox .tableInnerBox .tableTitle,
.page2 .pagebox .tablebox .tableInnerBox .tableTitle {
  height: 10%;
  position: relative;
  text-align: center;
}

.page3 .pagebox .tablebox .tableInnerBox .tableTitle::after,
.page2 .pagebox .tablebox .tableInnerBox .tableTitle::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.page3 .pagebox .tablebox .tableInnerBox .tableTitle span,
.page2 .pagebox .tablebox .tableInnerBox .tableTitle span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.1em;
  font-size: 0.506667rem;
  font-weight: 600;
}

.page3 .pagebox .tablebox .tableInnerBox table,
.page2 .pagebox .tablebox .tableInnerBox table {
  width: 100%;
  height: 90%;
}

.page3 .pagebox .tablebox .tableInnerBox table tr,
.page2 .pagebox .tablebox .tableInnerBox table tr {
  width: 100%;
  padding: 0.133333rem;
  border-top: 0.053333rem solid black;
  border-bottom: 0.053333rem solid black;
}

.page3 .pagebox .tablebox .tableInnerBox table tr img,
.page2 .pagebox .tablebox .tableInnerBox table tr img {
  width: 85%;
}

.page3 .pagebox .tablebox .tableInnerBox table tr td,
.page3 .pagebox .tablebox .tableInnerBox table tr th,
.page2 .pagebox .tablebox .tableInnerBox table tr td,
.page2 .pagebox .tablebox .tableInnerBox table tr th {
  position: relative;
  width: 50%;
  border-right: 0.053333rem solid black;
  text-align: center;
  font-size: 0.32rem;
  vertical-align: middle;
  opacity: 0.9;
}

.page3 .pagebox .tablebox .tableInnerBox table tr th,
.page2 .pagebox .tablebox .tableInnerBox table tr th {
  font-size: 0.4rem;
}

.page3 .pagebox .tablebox .tableInnerBox table tr .right,
.page2 .pagebox .tablebox .tableInnerBox table tr .right {
  color: #fff;
  border-right: none;
}

.page4 {
  position: relative;
}

.page4 .pagebox .pageboxInner .reward {
  width: 78%;
  margin: 0 auto;
  padding: 1.2rem 0 0;
  background: url("../img/recommend.png") no-repeat;
  background-size: 100% 100%;
}

.page4 .pagebox .pageboxInner .reward .rewardTitle {
  width: 100%;
  margin-bottom: 0.8rem;
}

.page4 .pagebox .pageboxInner .reward .rewardTitle p {
  display: inline;
  color: #fff;
  border-bottom: 0.026667rem solid #00CDB3;
  text-align: center;
  font-size: 0.453333rem;
  padding: 0.2em 1em;
}

.page4 .pagebox .pageboxInner .reward .rewardContent {
  width: 100%;
}

.page4 .pagebox .pageboxInner .reward .rewardContent .rewardList {
  float: left;
  width: 50%;
  margin-bottom: 0.4rem;
  opacity: 1;
}

.page4 .pagebox .pageboxInner .reward .rewardContent .rewardList img {
  width: 75%;
}

.page4 .pagebox .pageboxInner .ruleBox {
  width: 100%;
}

.page4 .pagebox .pageboxInner .ruleBox .rule {
  width: 100%;
  text-align: center;
}

.page4 .pagebox .pageboxInner .ruleBox a,
.page4 .pagebox .pageboxInner .ruleBox span {
  display: inline-block;
  vertical-align: top;
  font-size: 0.4rem;
  line-height: 3em;
  color: #fff;
  margin-right: 0.2rem;
  letter-spacing: 0.013333rem;
}

.page5 .pageboxInner .focus {
  width: 72%;
}

.page5 .pageboxInner .codeBox {
  position: relative;
  width: 100%;
  padding-bottom: 0.8rem;
  margin-top: -0.666667rem;
  margin-bottom: 0.4rem;
}

.page5 .pageboxInner .codeBox .code {
  width: 95%;
}

.page5 .pageboxInner .codeBox .text {
  font-size: 0.4rem;
  line-height: 0.4rem;
  color: #FFDE00;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.page5 .pageboxInner .codeBox .text1 {
  top: 20%;
}

.page5 .pageboxInner .codeBox .text2 {
  top: 77%;
  line-height: 1.4em;
}

.page5 .pageboxInner .slogon .text {
  font-size: 0.506667rem;
  color: #00D2B1;
  text-align: center;
  margin-bottom: 0.2rem;
}

.page5 .pageboxInner .slogon .slogonImg {
  width: 80%;
}

.page5 .pageboxInner .logoImg {
  position: absolute;
  bottom: 0.266667rem;
  width: 2.133333rem;
  left: 50%;
  margin-left: -1.066667rem;
}
.space2em{
  display: inline-block;
  width: 2em;
}
.puBox {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
}

.puBox .overLay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.puBox .pu {
  position: absolute;
  left: 10%;
  top: 10%;
  background: white;
  border-radius: 0.2rem;
  width: 80%;
  height: 80%;
}
.puBox .pu .title {
  height: 1.066667rem;
  line-height: 1.066667rem;
  color: #00C7AC;
  font-size: 0.56rem;
  position: relative;
  text-align: center;
}
.puBox .pu .title:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 0.013333rem solid rgba(7, 17, 27, 0.1);
  content: '';
}
.puBox .pu .content {
  padding: 0.2rem 0.4rem;
  overflow-y: scroll;
  height: 80%;
}
.puBox .pu .content section {
  margin-bottom: 0.333333rem;
  text-align: left;
}
.puBox .pu .content section .name {
  font-size: 0.453333rem;
  color: #00C7AC;
  line-height: 1.5em;
}
.puBox .pu .content section p {
  font-size: 0.373333rem;
  line-height: 1.4em;
  opacity: 0.8;
}
.puBox .pu .close {
  width: 70%;
  margin: 4% auto;
  text-align: center;
  padding: 0.20rem 0.50rem;
  border-radius: 0.533333rem;
  border: 0.013333rem solid #00C7AC;
  color: #00C7AC;
  font-size: 0.506667rem;
}