.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

html {
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  background: #FFF !important;
}

body {
  width: 100%;
  height: 100%;
  min-width: 4.266667rem;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  margin: 0 auto !important;
}

@media screen and (min-width: 768px) {
  body {
    width: 10.24rem;
    overflow: auto;
  }
}
.none {
  display: none;
}
.registerFormBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
}

.registerFormBox::after {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.registerFormBox .close {
  display: inline-block;
  position: absolute;
  top: 0.666667rem;
  right: 0.266667rem;
  width: 1.066667rem;
  height: 1.066667rem;
  background: url("../img/close.png") no-repeat;
  background-size: 80%;
  background-position: center;
}

.registerFormBox .registerFormBoxInner {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.registerFormBox .registerForm {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}
/*.content{*/
  /*display: none;*/
/*}*/
.registered{
  display: none;
  margin-bottom: 120px;
}
.registered_phone{
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 2em;
}
.registered_text{
  display: block;
  margin: 10px 0 5px;
  color: rgba(0,0,0,0.6);
  line-height: 1.5em;
  font-size: 13px;
}
.download_link{
  display: inline-block;
  font-size: 16px;
  color: red;
  text-decoration: underline !important;
}
.registerFormBox .registerForm .formHeader {
  text-align: center;
  margin-bottom: 1.066667rem;
}

.registerFormBox .registerForm .formHeader img {
  display: inline-block;
  width: 1.466667rem;
  height: 1.466667rem;
}

.registerFormBox .registerForm .formHeader span {
  display: block;
  margin-top: 0.333333rem;
  font-size: 0.533333rem;
  opacity: 0.8;
  font-weight: 300;
  letter-spacing: 0.026667rem;
}

.registerFormBox .registerForm form .inputBox {
  width: 100%;
  height: 0.8rem;
  margin: 0.666667rem auto;
  border-bottom: 0.04rem solid rgba(0, 0, 0, 0.1);
  padding-bottom: 0.333333rem;
  position: relative;
  text-align: center;
}

.registerFormBox .registerForm form .inputBox input {
  border: none;
  font-size: 0.48rem;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
  text-align: center;
  background: none;
}

.registerFormBox .registerForm form .inputBox input::-webkit-input-placeholder {
  font-size: 0.453333rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.registerFormBox .registerForm form .inputBox .tip {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -0.4rem;
  color: red;
  font-size: 0.32rem;
}

.registerFormBox .registerForm form .inputBox .status {
  display: block;
  float: right;
  width: 0.533333rem;
  height: 0.533333rem;
}

.registerFormBox .registerForm form .inputBox .icon-eye {
  float: right;
  opacity: 0.6;
  display: inline-block;
  width: 0.8rem;
  height: 0.533333rem;
}
.registerFormBox .registerForm form .inputBox .icon-eye {
  background: url("../img/eyes1.png") no-repeat;
  background-position: center;
  background-size: 0.533333rem 0.333333rem;
}
.registerFormBox .registerForm form .inputBox .open {
  background: url("../img/eyes2.png") no-repeat;
  background-position: center;
  background-size: 0.533333rem 0.333333rem;
}
.registerFormBox .registerForm form .inputBox .tick {
  background: url("../img/right.png") no-repeat;
  background-position: center;
  background-size: 0.533333rem 0.533333rem;
}

.registerFormBox .registerForm form .inputBox .wrong {
  background: url("../img/wrong.png") no-repeat;
  background-position: center;
  background-size: 0.533333rem 0.533333rem;
}

.registerFormBox .registerForm form .inputImgBox {
  padding-bottom: 0.2rem;
  margin: 0.2rem 0;
  width: 100%;
  height: auto;
}

.registerFormBox .registerForm form .inputImgBox .imgCodeBox {
  float: left;
  width: 60%;
}

.registerFormBox .registerForm form .inputImgBox .imgCodeBox #imgCode {
  width: 100%;
  height: 1.333333rem;
}

.registerFormBox .registerForm form .inputImgBox .imgBox {
  position: relative;
  float: right;
  width: 40%;
  height: 1.333333rem;
  overflow: hidden;
}
.refresh{
  position: absolute;
  right: 10px;
  bottom: 4px;
}

.registerFormBox .registerForm form .inputImgBox .imgBox img {
  width: 2.933333rem;
  height: 100%;
}

.registerFormBox .registerForm form .inputCodeBox {
  width: 100%;
  height: auto;
  padding-bottom: 0.2rem;
  margin: 0 0 0.133333rem 0;
}

.registerFormBox .registerForm form .inputCodeBox .messageCodeBox {
  width: 60%;
  float: left;
}

.registerFormBox .registerForm form .inputCodeBox .messageCodeBox #messageCode {
  width: 100%;
  height: 1.2rem;
}

.registerFormBox .registerForm form .inputCodeBox .codeBtnBox {
  width: 40%;
  float: right;
}

.registerFormBox .registerForm form .inputCodeBox .codeBtnBox .codeBtn {
  width: 2.933333rem;
  height: 1.2rem;
  border: 0.04rem solid #00D3B4;
  font-size: 0.426667rem;
  font-weight: 300;
  white-space: nowrap;
  background: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

.registerFormBox .registerForm form .inputCodeBox .codeBtnBox .able {
  color: #00D3B4;
}

.registerFormBox .registerForm form .inputCodeBox .codeBtnBox .disable {
  color: #ccc;
}

.registerFormBox .registerForm form .submitBtn {
  display: block;
  width: 100%;
  background: #8c8c8c;
  color: #fff;
  font-size: 0.533333rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 0.4rem 0;
  text-decoration: none;
  letter-spacing: 0.106667rem;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.registerFormBox .registerForm form .submitBtnActive {
  background: #00D3B4;
}
.registerFormBox .registerForm .protocol {
  display: table;
  text-align: center;
  padding: 0.066667rem 0;
  margin: 5px auto 0;
}


.registerFormBox .registerForm .protocol .check {
  display: table-cell;
  vertical-align: middle;
  width: 0.48rem;
  height: 0.48rem;
  background: #00D3B4;
  text-align: center;
}

.registerFormBox .registerForm .protocol .check img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.registerFormBox .registerForm .protocol .checkNo img {
  display: none;
}

.registerFormBox .registerForm .protocol .text {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.426667rem;
  font-weight: 300;
  opacity: 0.7;
  letter-spacing: 0.026667rem;
}

.protocolBox {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.protocolDetailWrapper {
  font-family: "PingFang SC";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}

.protocolDetailWrapper .protocolDetail {
  min-height: 100%;
  width: 100%;
}

.protocolDetailWrapper .protocolDetail .main {
  width: 85%;
  color: #3a3a3a;
  margin: 0 auto;
  padding: 0.853333rem 0 1.706667rem;
}

.protocolDetailWrapper .protocolDetail .main .protocolTitle {
  font-size: 0.56rem;
  text-align: center;
  margin-bottom: 0.426667rem;
}

.protocolDetailWrapper .protocolDetail .main section {
  margin: 0.4rem 0;
}

.protocolDetailWrapper .protocolDetail .main section .sectionTitle {
  font-size: 0.453333rem;
}

.protocolDetailWrapper .protocolDetail .main section p,
.protocolDetailWrapper .protocolDetail .main section dt,
.protocolDetailWrapper .protocolDetail .main section dd {
  opacity: 0.9;
  font-size: 0.4rem;
  line-height: 0.6rem;
  margin: 0.133333rem 0;
}

.protocolDetailWrapper .protocolDetail .main section dd {
  margin-left: 2em;
}

.back {
  position: relative;
  text-align: center;
  width: 0.853333rem;
  height: 0.853333rem;
  margin: -1.306667rem auto 0 auto;
  clear: both;
  border-radius: 50%;
  background: url("../img/close.png") no-repeat center;
  background-size: contain;
}

.back .backBtn {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.133333rem;
}

.toTop {
  position: absolute;
  bottom: 0.133333rem;
  right: 0.133333rem;
  display: inline-block;
  width: 1.333333rem;
  height: 1.333333rem;
  border-radius: 50%;
  background: url("../img/top.png") no-repeat;
  background-size: 1.333333rem 1.333333rem;
}