.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0; }

@media screen and (min-width: 768px) {
  body {
    width: 768px;
    overflow: auto; } }

html, body {
  width: 100%;
  height: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.8); }

body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  font-size: 14px; }

header{
  position: relative;
  height: 45px;
  width: 100%;
  padding: 0 5%;
  font-size: 16px;
  /*border-bottom: 1px solid #515151;*/
  box-shadow: 2px 0 4px #ccc;
}
header .place{
  float: left;
    /*border: 1px solid red;*/
}
header .place span{
  line-height: 45px;
}
header .select{
  /*border: 1px solid red;*/
  height: 45px;
  float: right;

}
header .select select{
  height: 100%;
  line-height: 45px;
  font-size: 16px;
  padding-right: 22px;
  background: url("../img/trangle.png") no-repeat;
  background-size: 14px 14px;
  background-position: 95% center;
  appearance: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);


}
.textCenter{
  text-align: center;
}
.orange{
  color: #ff7615;
}
.w50{
  width: 50%;
}
.left,.middle,.right{
  width: 33%;
  float: left;
  text-align: center;
}
.left>span,.middle>span,.right>span{
  line-height: 50px;
    font-size: 16px;
}
.middle{
  width: 34%;
}

footer{
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  font-size: 16px;
  z-index: 2;
}
footer .searchBox{
  box-sizing: border-box;
  position: relative;
  width: 95%;
  margin: 0 auto 5px;
  height: 45px;

  /*border: 1px solid #FF7100;*/
}
footer .searchBox .searchNum{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  padding-left: 10px;
  overflow: hidden;
  border: 1px solid #FF7100;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  border-radius: 0;
  outline: none;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer .searchBox .searchNum::-webkit-input-placeholder{
  opacity: 0.6;
}
footer .searchBox .searchIcon{
  position: absolute;
  top: 0;
  right: 2px;
  display: inline-block;
  height: 100%;
  background: transparent;
  width: 50px;
  background: url("../img/look.png") no-repeat;
  background-size: 60%;
  background-position: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer .navTab{
  width: 100%;
  height: 55px;
  box-shadow: -2px 0 4px #ccc;
}
footer .left,footer .right{
  width: 50%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer .active{
  color: #FF7100;
}
footer .navTab span{
    line-height: 55px;
}
.puBox,.puBox .overLay{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 99;
}
.puBox .pu{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  width: 85%;
  background: #fff;
  padding: 0 0 15px 0;
  z-index: 100;
}
.puBox1 .pu{
  top: 30%;
}
.pu .title{
  width: 100%;
  height: 50px;
  font-weight: 300;
  border-bottom: 1px solid #e1e1e1;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}
.pu .title .close{
  position: absolute;
  right: 2px;
  top: 2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/close.png") no-repeat;
  background-size: 14px 14px;
  background-position: center;
  /*margin-top: 12px;*/
  padding: 12px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pu .title .icon-close:before{
  font-size: 26px;
  color: #ccc;
  font-weight: 300;
}
.pu .info{
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;

}
.pu .small span{
  font-size: 12px;
  opacity: 0.6;
}
.pu .small b{
  margin-left: 5px;
  opacity: 0.8;
}
.wrapper{
  position: absolute;
  top: 45px;
  bottom: 105px;
  width: 100%;
  /*border: 1px solid red;*/
}
.puBox2,.puBox1{
  display: none;
}
.puBox2 .infoContent{
  padding: 10px;
  /*border: 1px solid red;*/
}
.puBox2 .infoContentItem{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.puBox2 .infoContentItem span{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;
}
.puBox2 .infoContentItem .itemTitle{
  position: absolute;
  display: inline-block;
  width: 5em;
}
.puBox2 .infoContentItem .itemContent{
  display: inline-block;
  width: 100%;
  padding-left: 5em;
}
.puBox2 .infoContentItem .numDetail{
  position: absolute;
  /*border: 1px solid red;*/
  top: 0;
  padding: 5px;
  right: 12px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/look.png") no-repeat;
  background-size: 70%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.puBox2 .infoContentItem .numDetail.notSearch {
  background: url("../img/notSearch.png") no-repeat;
  background-size: 70%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper .userBox,.wrapper .rewardBox{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.wrapper .title{
  position: absolute;
  width: 100%;
  height: 50px;
  box-shadow: -2px 0 4px #6a6a6a;
  /*border: 1px solid blue;*/
}
.wrapper .title span{
  color: #fff;
}
.wrapper .title1,.wrapper .title2{
  top: 0;
  background: #FFA000;
}
.wrapper .title3{
  background: #FF7300;
  top: 100px;
}
.rewardBox{
  display: none;
}
.wrapper .userBox .userListBox,.wrapper .rewardBox .rewardListBox{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.wrapper .userBox .userListBox{
  top: 50px;
}
.wrapper ul li{
  border-bottom: 1px solid #ccc;
}
.wrapper ul li span{
    opacity: 0.9;
    font-size: 16px;
}
.wrapper ul li .detailBtn{
  display: inline-block;
  width: 80px;
  padding: 7px 0;
  margin-top: 7px;
  border-radius: 3px;
  line-height: 20px;
  background: #D9DADB;
}
.wrapper ul li.notSee .detailBtn{
  opacity: 0.6;
}
.wrapper .rewardBox #totalMoney{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 50px;
}
.wrapper .rewardBox .rewardListBox{
  top: 150px;
}
.inputBoxOuter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
  padding: 0 5%;
  text-align: center;
  display: table;
}
.inputBoxInner{
  display: table-cell;
  vertical-align: middle;
}
.inputBoxOuter .logo{
  width: 90px;
   }
.inputBoxOuter .description {
  font-size: 16px;
  line-height: 1.3em;
  white-space: nowrap;
  opacity: 0.5; }
.inputBoxOuter p {
  font-size: 26px;
  opacity: 0.8;
  line-height: 1.8em; }
.inputBoxOuter .inputBox {
  /*border: 1px solid red;*/
  position: relative;
  width: 80%;
  height: 45px;
  max-width: 400px;
  margin: 20px auto 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0; }
.inputBoxOuter .inputBox .tip{
  position: absolute;
  display: none;
  /*display: block;*/
  width: 100%;
  text-align: center;
  top: -10px;
  color: red;
  font-size: 12px;
}
.inputBoxOuter .captchaInputBox .tip{
  text-align: left;
}
.inputBoxOuter .inputBox .status{
  position: absolute;
  right: 0;
  bottom: 4px;
  display: inline-block;
  width: 35px;
  height: 35px;
}
.inputBoxOuter .inputBox .eye {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  width: 45px;
  height: 40px;
  background: url("../img/eyes1.png") no-repeat;
  background-size: 25px 15px;
  background-position: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.inputBoxOuter .inputBox .open{
  background: url("../img/eyes2.png") no-repeat;
  background-size: 21px 12px;
  background-position: center;
}
.inputBoxOuter .inputBox .tick{
  background: url("../img/right.png") no-repeat;
  background-size: 70%;
  background-position: center;
}

.inputBoxOuter .inputBox Input {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  font-size: 16px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid transparent;
  /*border: 1px solid red;*/
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.inputBoxOuter .inputBox Input::-webkit-input-placeholder {
    opacity: 0.5;
}
.inputBoxOuter .inputBox .captchaInput{
  width: 49%;
  display: inline-block;
  float: left;
  overflow: hidden;
}
.captchaImgBox{
  position: absolute;
  right: 0;
  top: -13px;
  width: 49%;
  height: 50px;
  display: inline-block;
  float: right;
}
.captchaImgBox img{
  width: 100%;
  height: 100%;
}
.captchaImgBox .refresh{
font-size: 12px;
display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0,0,0,0.6);
  z-index: 2;
}
.inputBoxOuter .submitBtn {
  font-size: 18px;
  padding: 40px;
  opacity: 0.6;
  outline: none;
  background: none;
    border: none;
  -webkit-tap-highlight-color: transparent; }

.error{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 101;
  text-align: center;
}
.errorInner{
  display: inline-block;
  margin-top: 40%;
}
.errorInner p{
  font-size: 18px;
  color: #999;
  line-height: 28px;
  margin-top: 10px;
}
.errorInner img{
  width: 140px;
}

.moreBtnBox{
  position: relative;
  margin: 20px auto;
  width: 100%;
  height: 40px;
  text-algin: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.moreBtn{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 120px;
  height: 40px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 40px;
  font-weight: 200;
  color: #fff;
  border-radius: 5px;
  background: #FFA000;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.loading:before{
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 99;
  left: -2px;
  right: -2px;
  width: 110%;
  height: 110%;
  background: url("../img/load.gif") no-repeat;
  background-position: center;
  background-size: 35px 35px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.loading:after{
  content: "";
  display: inline-block;
  position: absolute;
  z-index: 98;
  left: -2px;
  right: 0;
  top: -2px;
  width: 110%;
  height: 110%;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.msg{
  display: none;
  color: black;
  text-align: center;
  white-space: nowrap;
  line-height: 40px;
}
.userid{
  display: none;
}
