<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>大巴车注册</title>
    <script type="text/javascript" src="../../js/auto-size.js?rnd=" + new Date().getTime()></script>
    <link href="../../css/main.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
    <link href="../../css/authen.css?rnd=" + new Date().getTime() type="text/css" rel="stylesheet">
</head>
<body>
    <div class="authen-main none">
        <p>信息仅用于审核，绝对保密</p>
        <div class="line"></div>
        <div id="realName" class="authen-item">
            <div class="input">
                <span>业户名称</span>
                <input id="name" placeholder="例：某运输有限公司" type="text" value=""/>
            </div>
            <div class="input">
                <span>车牌号码</span>
                <div class="item-right">
                    <div id="plate-no-short-box" class="item-right-box">
                        <input id="plate-no-short" placeholder="车牌简称" type="text" value="" readonly/>
                        <i></i>
                    </div>
                    <input id="plate-no" placeholder="输入车牌号码" maxlength="7" type="text" value=""/>
                </div>
            </div>
            <div class="input">
                <span>车辆颜色</span>
                <div class="item-right">
                    <input id="plate-color" placeholder="车辆颜色" type="text" value="" readonly/>
                </div>
            </div>
            <div class="input">
                <span>车辆类型</span>
                <div class="item-right">
                    <input id="plate-type" placeholder="车辆类型" type="text" value="" readonly/>
                </div>
            </div>
            <div class="input">
                <span>核载客量</span>
                <div class="item-right">
                    <input class="center" id="plate-seats" placeholder="车辆核载客量" type="text" value=""/>
                </div>
                <span>座</span>
            </div>
            <ul>
                <li onclick="showImg(0)">
                    <span>道路运输许可证</span>
                    <img id="img1" src="../img/road-transport-permit-add.jpg" alt=""/>
                    <div id="img1-status" class="authen-status none">
                        <span></span>
                        <b>审核中...</b>
                    </div>
                </li>
            </ul>
        </div>
        <div id="submit" class="submit-btn">
            保存
        </div>
    </div>
    <div id="plate-model" class="plate-model">
        <div class="model"></div>
        <ul class="plate-short-list" id="plate-short-list"></ul>
        <ul class="plate-letter-list" id="plate-letter-list"></ul>
    </div>
    <div id="bus-color" class="bus-color">
        <div class="model"></div>
        <ul id="bus-color-list"></ul>
    </div>
    <div id="bus-type" class="bus-type">
        <div class="model"></div>
        <ul id="bus-type-list"></ul>
    </div>
    <div id="bus-type2" class="bus-type2">
        <ul id="bus-type-list2"></ul>
    </div>
    <div id="demo-model" class="none">
        <div class="model"></div>
        <div class="content">
            <div class="title">
                身份证正面照
            </div>
            <div class="legend">
                <img src="../img/id-card-front-demo.jpg"/>
                <p>请按照示例图提交身份证正面照</p>
                <p>确保照片真实有效、文字清晰、无反光、无遮挡</p>
            </div>
            <div class="upload-btn">
                <span>上传照片</span>
                <input id="file" class="file" type="file" accept="image/jpeg,image/gif,image/png,image/jpg" value="">
            </div>
        </div>
    </div>
</body>
<script type="text/template" charset="utf-8" id='template-plate-short-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        {{=it[i]}}
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-plate-letter-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        {{=it[i]}}
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-plate-color'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        <div class="car-color-item">
            <div class="car-color {{=it[i].color}}"></div>
            <span>{{=it[i].name}}</span>
        </div>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-plate-type'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        <span>{{=it[i].bus_class_name}}</span>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-plate-type2'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        <span>{{=it[i].bus_class_name}}</span>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/javascript" src="../../js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="../../js/doT.js"></script>
<script type="text/javascript" src="../../js/exif.js"></script>
<script type="text/javascript" src="../../js/js-activity.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/main.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/my-loading-alert-js.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../../js/my-toast-alert-js.js?rnd=" + new Date().getTime()></script>
<script type="text/javascript" src="../js/busAuthen.js?rnd=" + new Date().getTime()></script>
</html>