html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html {
    overflow:scroll;
    -webkit-touch-callout:none;/*系统默认菜单被禁用*/
    -webkit-user-select:none;/*webkit浏览器*/
    -khtml-user-select:none;/*早起浏览器*/
    -moz-user-select:none;/*火狐浏览器*/
    -ms-user-select:none;/*IE浏览器*/
    user-select:none;/*用户是否能够选中文本*/
}
body {
    display: block;
    flex-direction: column;
    line-height:1;
    font-family: "微软雅黑", serif;
    background-color: #f1f3f5;
    margin:0;
    padding:0;
}
.main {
    display: flex;
    width: 1100px;
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f3f5;
}
.none {
    display: none;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.of-scroll {
    overflow: scroll;
    flex: 1;
}
.m-t-10 {
    margin-top: 0.23rem;
}
.m-t-15 {
    margin-top: 0.35rem;
}
.m-t-20 {
    margin-top: 0.47rem;
}
.m-l-r-5 {
    margin: 0 0.12rem;
}
.m-l-5 {
    margin-left: 0.12rem;
}
.m-r-5 {
    margin-right: 0.12rem;
}
.top-border {
    border-top: 0.02rem solid #d5d5dc;
}
.bottom-border {
    border-bottom: 0.02rem solid #d5d5dc;
}