.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px steelblue solid;
    color: steelblue;
    padding: 4px 16px;
    font-size: 0.5rem;
    border-radius: 2rem;
}
.buttonColor {
    color: hotpink;
    border: 1px hotpink solid;
}