html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    list-style: none;
    box-sizing: border-box;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
.none {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
}
.first-layer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
}
.layer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.header {
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 12px;
    margin: 20px 30px;
    border-radius: 5px;
}
.header img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-top: -15px;
}
.header-text {
    display: flex;
    flex-direction: column;
}
.header-text span:first-child {
    font-size: 14px;
    color: #ffffff;
}
.header-text span:last-child {
    font-size: 10px;
    color: #ffffff;
    margin-top: 5px;
}
.letter {
    width: 30px;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 80px 0 30px 0;
    z-index: 99;
}
.letter li {
    height: 4%;
    width: 30px;
    font-size: 12px;
    color: #333333;
}
.popular-brand .text {
    padding: 5px 20px ;
}
.popular-brand .text span:first-child {
    font-size: 15px;
    color: #333333;
    padding-right: 5px;
}
.popular-brand .text span:last-child {
    font-size: 14px;
    color: #666666;
}
.popular-brand ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 35px 0 15px;
}
.popular-brand ul li {
    width: 16.66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: #333333;
    padding: 5px;
}
.popular-brand ul li img {
    width: 26px;
    height: 26px;
    margin-bottom: 5px;
}
.brand-list {
    padding-right: 35px;
}
.brand-list li{
    display: flex;
    flex-direction: column;
}
.brand-list li .list-letter{
    width: 100%;
    background-color: #eeeeee;
    padding: 2px 20px;
    font-size: 13px;
    color: #333333;
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
}
.brand-list-item-list {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.brand-list-item-list li {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
    font-size: 14px;
    color: #333333;
}
.brand-list-item-list li img {
    width: 26px;
    height: 26px;
    margin-right: 20px;
}
.toast-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toast {
    opacity: 0.7;
    z-index: 999999;
    background-color: #222222;
    border-radius: 5px;
    padding: 25px;
    color: #ffffff;
    font-size: 20px;
}
/** 二级菜单*/
.second-layer {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 99;
    right: -65%;
    top: 0;
    border-left: 1px solid #cccccc;
    box-shadow: -1px 0 1px #cccccc;
}
.second-layer-animation-in {
    -webkit-animation: second-slide-in 0.5s forwards;
    animation: second-slide-in 0.5s forwards;
}
@-webkit-keyframes second-slide-in {
    0% { right: -65%}
    100% { right: 0 }
}
@keyframes second-slide-in {
    0% { right: -65%}
    100% { right: 0 }
}
.second-layer-animation-out {
    -webkit-animation: second-slide-out 0.5s backwards;
    animation: second-slide-out 0.5s backwards;
}
@-webkit-keyframes second-slide-out {
    0% { right: 0}
    100% { right: -65% }
}
@keyframes second-slide-out {
    0% { right: 0}
    100% { right: -65% }
}
.car-series-item-list {
    width: 100%;
    overflow: scroll;
    background-color: #eeeeee;
}
.car-series-item-list li{
    width: 100%;
    background-color: #ffffff;
}
.car-series-item {
    padding: 10px 0;
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    flex-direction: row;
}
/** 三级菜单*/
.third-layer {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 999;
    right: -35%;
    top: 0;
    border-left: 1px solid #cccccc;
    box-shadow: -1px 0 1px #cccccc;
}
.third-layer-animation-in {
    -webkit-animation: third-slide-in 0.5s forwards;
    animation: third-slide-in 0.5s forwards;
}
@-webkit-keyframes third-slide-in {
    0% { right: -35%}
    100% { right: 0 }
}
@keyframes third-slide-in {
    0% { right: -35%}
    100% { right: 0 }
}
.third-layer-animation-out {
    -webkit-animation: third-slide-out 0.5s forwards;
    animation: third-slide-out 0.5s forwards;
}
@-webkit-keyframes third-slide-out {
    0% { right: 0}
    100% { right: -35% }
}
@keyframes third-slide-out {
    0% { right: 0}
    100% { right: -35% }
}
.car-color-item-list {
    width: 100%;
    overflow: scroll;
    background-color: #eeeeee;
}
.car-color-item-list li {
    width: 100%;
    background-color: #ffffff;
}
.car-color-item {
    padding: 10px 0;
    margin-left: 20px;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    flex-direction: row;
}
.car-color {
    background-color: #666666;
    border: 1px solid #cccccc;
    width: 20px;
    height: auto;
    border-radius: 20px;
    margin-right: 5px;
    text-align: justify;
}
/* 滑动字母索引的引用层 */
.slide-letter {
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 80px 0 30px 0;
    z-index: 102;
    background-color: #999999;
    opacity: 0;
}
.slide-letter li {
    height: 4%;
    width: 100%;
    font-size: 12px;
    color: #333333;
}
/* 颜色 "白色","红色","黑色","银色","香槟色","灰色","蓝色","黄色","绿色","咖啡色","橙色","其他" */
.orange-text {
    color: orange;
}
.white {
    background-color: white;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.silver {
    background-color: silver;
}
.champagne {
    background-color: sandybrown;
}
.gray {
    background-color: gray;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.coffee {
    background-color: chocolate;
}
.orange {
    background-color: orange;
}
.other {
    background-color: #eeeeee;
}