<div class="car-main">
    <div id="firstLayer" class="first-layer">
        <div class="layer-left">
            <div class="header">
                <img alt="head" src="../../Util/img/face_icon.png"/>
                <div class="header-text">
                    <span class="header-name">您好</span>
                    <span class="header-msg">请完善车辆信息成为车主</span>
                </div>
            </div>
            <div class="popular-brand">
                <div class="text-hint">
                    <span>选择车辆品牌</span>
                </div>
                <ul id="hot-models-list">
                </ul>
            </div>
            <ul id="all-models-list" class="brand-list">
            </ul>
        </div>
        <ul id="letter-list" class="letter">
        </ul>
    </div>
    <div id="secondLayer" class="second-layer">
        <ul id="car-series-list" class="car-series-item-list">
        </ul>
    </div>
    <div id="thirdLayer" class="third-layer">
        <ul id="car-color-list" class="car-color-item-list">
        </ul>
    </div>
    <ul id="letter-model" class="none">
    </ul>
    <div id="toast" class="none">
        <div id="toast-letter" class="toast">
            A
        </div>
    </div>
</div>
<script type="text/template" charset="utf-8" id='template-hot-models-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li onclick="getCarModel('{{=it[i].name}}', this)">
        <img alt="logo" src={{=it[i].src}} >
        <span>{{=it[i].name}}</span>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-all-models-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li key={index}>
        <span class="list-letter">{{=it[i].letter}}</span>
        <ul class="brand-list-item-list">
            {{ if (it && it[i].module.length > 0){ }}
            {{ for (var n = 0; n < it[i].module.length; n++){ }}
            <li onclick="getCarModel('{{=it[i].module[n].name}}', this)">
                <img alt="logo" src={{=it[i].module[n].src}} >
                <span>{{=it[i].module[n].name}}</span>
            </li>
            {{ } }}
            {{ } }}
        </ul>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-letter-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li id={{=i}}>
        {{=it[i]}}
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-car-series-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li onclick="getCarColor('{{=it[i].model}}', this)">
        <div class="car-series-item">
            <div class="car-series"></div>
            <span>
            {{=it[i].model}}
            </span>
        </div>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-car-color-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li onclick="setCarColor('{{=it[i].name}}', this)">
        <div class="car-color-item">
            <div class="car-color {{=it[i].color}}"></div>
            <span>{{=it[i].name}}</span>
        </div>
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/template" charset="utf-8" id='template-letter-model-list'>
    {{ if (it && it.length > 0){ }}
    {{ for (var i = 0; i < it.length; i++){ }}
    <li>
        {{=it[i]}}
    </li>
    {{ } }}
    {{ } }}
</script>
<script type="text/javascript" src="../../Util/js/car.js?rnd=" + new Date().getTime()></script>
