html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html {
    overflow:hidden;
}
body {
    display: flex;
    line-height:1;
    font-family: "微软雅黑", serif;
    background-color: #f1f3f5;
}
.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #f1f3f5;
    position: absolute;
}
.none {
    display: none;
}
.of-scroll {
    overflow: scroll;
    flex: 1;
}
.m-t-10 {
    margin-top: 0.23rem;
}
.m-t-15 {
    margin-top: 0.35rem;
}
.m-t-20 {
    margin-top: 0.47rem;
}
.m-l-r-5 {
    margin: 0 0.12rem;
}
.m-l-5 {
    margin-left: 0.12rem;
}
.m-r-5 {
    margin-right: 0.12rem;
}
.top-border {
    border-top: 0.02rem solid #d5d5dc;
}
.bottom-border {
    border-bottom: 0.02rem solid #d5d5dc;
}
.pop-box {
    width: 100%;
    height: 100%;
    z-index: 554;
    position: fixed;
    top: 0;
    left: 0;
}
.pop-bg {
    width: 100%;
    height: 100%;
    z-index: 554;
    background-color: black;
    opacity: 0.01;
}
.pop-content {
    font-size: 0.31rem;
    color: #66676f;
    margin-top: 2.8rem;
    width: 90%;
    margin-left: 5%;
    z-index: 555;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-content-l-5 {
    background: white;
    padding: 0.23rem;
    border-radius: 0.18rem;
    box-shadow: 0 0.12rem 0.23rem rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*!* 箭头 - :before and :after, 一起组成了好看的气泡小箭头 *!*/
.pop-content-l-5:after {
    position: absolute;
    display: inline-block;
    border-left: 0.23rem solid transparent;
    border-bottom: 0.37rem solid white;
    border-right: 0.23rem solid transparent;
    left: 5%;
    top: -0.37rem;
    content: '';
}
.pop-content-l-33 {
    background: white;
    padding: 0.23rem;
    border-radius: 0.18rem;
    box-shadow: 0 0.12rem 0.23rem rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*!* 箭头 - :before and :after, 一起组成了好看的气泡小箭头 *!*/
.pop-content-l-33:after {
    position: absolute;
    display: inline-block;
    border-left: 0.23rem solid transparent;
    border-bottom: 0.37rem solid white;
    border-right: 0.23rem solid transparent;
    left: 33%;
    top: -0.37rem;
    content: '';
}
#pop-content img {
    width: 0.56rem;
    height: auto;
    align-self: flex-end;
    margin: 0.12rem;
}
.pop-content-list-item {
    display: flex;
    padding: 0.26rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}