.tickets-head {
    background-color: white;
    padding: 0.28rem;
}
.tickets-head-time {
    font-size: 0.42rem;
    color: #333333;
}
.tickets-head-address {
    font-size: 0.37rem;
    color: #ffad18;
    padding: 0.28rem 0;
}
.tickets-head-address img {
    width: 0.56rem;
    height: auto;
}
.tickets-head-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.28rem 0 0 0;
}
.tickets-head-info .tickets-head-info-refund {
    background-color: #e2e2e9;
    padding: 0.09rem 0.23rem;
    border-radius: 0.47rem;
    font-size: 0.28rem;
    color: #6d6d6d;
}
.tickets-head-info .tickets-head-info-refund-tip {
    font-size: 0.30rem;
    flex: 1;
    color: #6d6d6d;
    padding: 0.09rem 0.23rem;
}
.tickets-head-info .tickets-head-info-detail {
    font-size: 0.37rem;
    color: #1fb1ff;
}
.tickets-content {
    margin-top: 0.23rem;
}
.tickets-content .tickets-content-id {
    background-color: white;
    padding: 0.28rem;
}
.tickets-content-id .tickets-content-id-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.37rem 0.10rem;
    font-size: 0.33rem;
    align-items: center;
}
.tickets-content-id-list .type {
    color: #1fb1ff;
}
.tickets-content-id-list .name {
    color: #66676f;
    padding: 0 0.12rem;
}
.tickets-content-id-list .id-number {
    color: #9b9b9b;
    font-size: 0.30rem;
    text-align: center;
    flex: 1;
}
.tickets-content-id-list img {
    width: 0.35rem;
    height: 0.35rem;
}
.tickets-content-add-id {
    font-size: 0.42rem;
    color: #1fb1ff;
    border: 0.02rem solid #1fb1ff;
    padding: 0.25rem 0;
    margin-top: 0.23rem;
    text-align: center;
}
.tickets-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.tickets-content .tickets-content-msg {
    background-color: white;
    padding: 0.19rem;
    margin-top: 0.23rem;
    display: flex;
    flex-direction: column;
}
.tickets-content-row {
    display: flex;
    flex-direction: row;
}
.tickets-content-row .tip {
    width: 5rem;
    color: #333333;
    padding: 0.25rem 0.12rem;
    font-size: 0.35rem;
}
.tickets-content-row input {
    flex: 1;
    border: none;
    text-align: right;
    font-size: 0.33rem;
    padding: 0.25rem 0;
}
.tickets-agreement {
    font-size: 0.30rem;
    color: #91929a;
    text-align: center;
    padding-top: 0.20rem;
}
.tickets-agreement a {
    font-size: 0.30rem;
    color: #1fb1ff;
}
.tickets-btn {
    margin-top: 0.35rem;
    background-color: #1fb1ff;
    font-size: 0.47rem;
    color: white;
    text-align: center;
    padding: 0.35rem 0;
}